table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial ;
    
}

.no{
   
    font-size: 11px;
    text-align: center;
    
}

.ni{
    width: 75px;
    font-size: 11px;
    text-align: center;
}

.ns{
    width: 200px;
    font-size: 11px;
    text-align: center;
}

.angka{
    font-size: 11px;
    text-align: center;
    padding-top: 5px;
}

.nama{
     font-size: 11px;
     padding-top: 5px;
}

.nilai{
    font-size: 11px;
 
    width: 20px;
    padding-top: 5px;
    text-align: center;
}

.nilaihar{
    font-size: 11px;
    text-align: center;
    width: 110pxpx;

   
}

.row2{
    font-size: 11px;
    text-align: center;
    background-color: #ffff00;
   
   
}

.NS{
    font-size: 11px;
    text-align: center;
}

.NA{
    font-size: 11px;
    text-align: center;
    background-color: #00aff1;
}
.NH{
    font-size: 11px;
    text-align: center;
    background-color: #92cf4e;
}

.row3{
    font-size: 11px;
    text-align: center;
    background-color: #92cf4e;
}


.tengah{
    margin-top: 100px;
    justify-self: center;
}

